{% extends "base.html" %}

{% block content %}
<div class="user-recipes">
    <h2>My Recipes</h2>
    <a href="{{ url_for('new_recipe') }}">Add New Recipe</a>
    {% if user_recipes %}
    <ul>
        {% for recipe in user_recipes %}
        <li>
            <a href="{{ url_for('recipe_detail', id=recipe.id) }}">{{ recipe.title }}</a>
            <small><a href="{{ url_for('edit_recipe', id=recipe.id) }}">Edit Recipe</a></small>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You do not have any recipes added yet! <a href="{{ url_for('new_recipe') }}">Add your first recipe!</a></p>
    {% endif %}
</div>
<p>Return to <a href="{{ url_for('index') }}">index</a> page</p>
{% endblock %}
